@default-img-width: 140px;

.image-uploader-wrapper {
  position: relative;
  .button {
    position: relative;
    display: inline-block;
    line-height: 1.25rem;
    text-align: center;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 2px;
    -webkit-appearance: none;
    appearance: none;
    color: #24292f;
    background-color: #f6f8fa;
    border-color: rgba(27,31,36,0.15);
    box-shadow: 0 1px 0 rgba(27,31,36,0.04),inset 0 1px 0 rgba(255,255,255,0.25);
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;

    &:hover {
      background-color: #f3f4f6;
      border-color: rgba(27,31,36,0.15);
      transition-duration: 0.1s;
    }

    &:active {
      background-color: hsla(220,14%,93%,1);
      border-color: rgba(27,31,36,0.15);
      transition: none;
    }

    &[aria-selected='true'] {
      background-color: hsla(220,14%,94%,1);
      box-shadow: inset 0 1px 0 rgba(208,215,222,0.2);
    }
  }
  
  .button.disabled {
    cursor: not-allowed;
    color: #8c959f;
    background-color: #f6f8fa;
    border-color: rgba(27,31,36,0.15);
    box-shadow: none;
  }

  .native-input {
    display: none;
  }
  .drag-box {
    width: @default-img-width;
    height: 64px;
    border: 1px dashed #ccc;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .images-list {
    display: flex;
    margin: 12px 0 0;
    .image-item {
      width: @default-img-width;
      margin-right: 8px;
      .image-preview {
        width: 100%;
        & > img {
          max-height: @default-img-width;
        }
      }
      .image-action-btn {
        padding: 4px 0;
        text-align: center;
        .update {
          margin-right: 4px;
        }
      }
    }
    .image-item:last-child {
      margin-right: 0;
    }
    .remove-all {
      height: 2rem;
    }
  }
  .images-upload {
    padding-top: 12px;
    .button {
      width: @default-img-width;
      line-height: 1.5rem;
    }
  }
}
